.table {
  border-collapse: collapse;
  width: 100%;
}

.row {
  cursor: pointer;
}

.row:hover {
  background-color: var(--color-black-10);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
