.container {
  padding: var(--padding-xs);
  font-size: var(--font-size-filters);
  background-color: var(--color-black-5);
  border: var(--border);
  border-radius: var(--border-radius-xs);
}

.button {
  padding: var(--padding-xs);
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-xs);
  transition: background-color 0.2s ease-in-out;
}

.active {
  cursor: pointer;
}

.active:hover {
  background-color: var(--color-black-10);
}

.active:focus {
  outline: 1px solid var(--color-black-40);
  outline-offset: -2px;
}

.error {
  color: var(--color-danger);
}

.error:hover {
  background-color: var(--color-danger-10);
}

.normal {
  padding: var(--padding-xs) var(--padding-md);
}
