.link {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black-40);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 2rem 0 2.2rem;
  position: relative;
}

button.link {
  margin: 0;
  border: none;
  width: 100%;
  background: transparent;
}

.link:hover {
  color: var(--color-black-80);
}

.active {
  color: var(--color-black-80);
}

.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.2rem;
  height: 100%;
  background-color: var(--color-black-80);
  border-radius: 0 0.2rem 0.2rem 0;
}
